{% extends 'index_institute.html' %}
{% load static %}
{% block content %}

<head>
   
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text],[type=textarea],[type=email], [type=date],input[type=time], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
 
}



input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
</style>

<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card" style=" margin-left: 10%; margin-right: 10%; margin-top: 5%;color: black;" >
        <div class="card-body">
          <h3 class="card-title">Visitors</h3>
          <br>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
   <input type="text" class="form-control"id="myInput" onkeyup="myFunction()" placeholder="Search for Name" title="Type in a name" style="color: black;">
    </div>
     <div class="col-sm-4" style="margin-left:20%;">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
   Add Visitor
  </button>

  <!-- The Modal -->
       <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form action="{% url 'visitor' %}" method="POST">
                {% csrf_token %}
                <div class="container" >
					<h1 style="float:left ;">Add Visitotr</h1>
					<br>
					<hr>
					<label for="name" style="float:left ;"><b>Name</b></label>
					<input type="text" placeholder="Enter Name" name="name" required>
					<label for="place" style="float:left ;"><b>Place</b></label>
					<input type="text" placeholder="Enter Place" name="place" required>
					<label for="email" style="float:left ;"><b>Email</b></label>
					<input type="email" placeholder="Enter Email" name="email">
					<label for="contact" style="float:left ;"><b>Contact</b></label>
					<input type="text" placeholder="Enter Contact No" name="contact" required>
	  
				   
					<label for="address" style="float:left ;"><b>Address</b></label>
					<input type="text" placeholder="Enter Address" name="address">
					<label for="Guardian Name" style="float:left ;"><b>Guardian Name</b></label>
					<input type="text" placeholder="Enter Guardian" name="guardian">
					
					<label for="school" style="float:left ;"><b>School</b></label>
					<input type="text" placeholder="school" name="school">
					<br>
	  
					<label for="gender" style="float:left ;"><b>Gender</b></label>
					<br>
					<br>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="gender"  value="male"  id="flexRadioDefault1">
					  <label class="form-check-label" for="flexRadioDefault1">
						Male
					  </label>
					</div>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="gender" value="female" id="flexRadioDefault2" checked>
					  <label class="form-check-label" for="flexRadioDefault2">
						Female
					  </label>
					</div>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="gender" value="other" id="flexRadioDefault2" checked>
					  <label class="form-check-label" for="flexRadioDefault2">
						Other
					  </label>
					</div>
					<br>
					<label for="purpose" style="float:left ;"><b>Purpose</b></label>
					<input type="text" placeholder="Purpose" name="purpose" required>
          <br>
					<label for="date" style="float:left ;"><b>Date of Visit</b></label>
					<input type="date" placeholder="date" name="date" required>
					<br>
					<label for="time" style="float:left ;"><b>Time</b></label>
					<input type="time" placeholder="time" name="time" required>
					</div>
              
                <div class="container">
                  <input type="submit" value="Done">
                </div>
              </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
     </div>
     </div>
       <br>
       <br>
	   <div class="table-responsive">
		<table class="table" id="myTable" style="color: black;">
		  <thead >
			<tr class="header" >
			  
			  <th> Name </th>
			  <th> Place </th>
			  <th> Email </th>
			  <th> Contact </th>
			  <th> Address </th>
			  <th> Guardian </th>
			  <th> School </th>
			  <th> Gender </th>
			  <th> Purpose </th>
        <th> Date&nbsp;Of&nbsp;Visit </th>
        <th>Time</th>
			</tr>
		  </thead>
		  <tbody>
			{% for i in data %}
					  <tr>
						 
						  <td>{{ i.name }} </td>
						  <td> {{ i.place }} </td>
						  <td> {{ i.email}} </td>
						  <td>{{ i.contact }} </td>                             
						  <td> {{ i.address }}</td>
						  <td> {{ i.guardian }}</td>
						  <td> {{ i.school }}</td>
						  <td> {{ i.gender }}</td>
						  <td> {{ i.purpose }}</td>
              <td> {{ i.date|date:"d-m-Y" }}</td>
              <td> {{ i.time}}  </td>
						  <td> <a href="{% url 'institute_visitors_delete' i.id %}" class="btn btn-danger" onclick="return confirm('Are You Sure want to Delete ?')">Delete</a></td>


					  </tr>
					  {% endfor %}
		   
		  </tbody>
		</table>
	  </div>

        </div>
        </div>
      </div>
    </div>


    <script>
    function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
    tr[i].style.display = "";
    } else {
    tr[i].style.display = "none";
    }
    }       
    }
    }
    </script>



{% endblock %}