{% extends 'index_student.html' %}
 {% load static %}
  {% block content %}
  <head>
    <script>
      window.addEventListener('contextmenu', function (e) {
  e.preventDefault();
}, false);
    </script>
  </head>
  <div class="row">
    <div class="col-sm-8 mt-3 ms-1">
        <div id="demo_video">

        </div>
    </div>
    <div class="col-sm-3">
      
      <div class="row"> 
        {% for i in rr %}  
        {% with "input_"|add:i.id as idname %}
        <input type="hidden" name="" id="input_{{i.id}}" value="{{i.id}}">
        {% endwith %}
        <Button onclick="fun('input_{{i.id}}')" style="border: none;">
         <div class="col-sm-12 grid-margin">
          <div class="card" style="height:200px; margin-top:15%;margin-left: 8%;box-shadow: 5px 10px 8px #888888; background-image: url('static/assets/images/preview.jpg'); background-size: cover;">
            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-{{i.id}}" style="text-decoration: none; color: #f8f9fa;">
          
          <div class="card-body">
      
            <div class="row">
          
              <h3 style="color:yellow; text-align:end;">{{i.topic}}</h3>
    
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <h4 style="color:yellow; text-align:end;">{{i.sub}}</h4>
                <i class="icon-lg mdi mdi-language-python text-primary ms-auto"></i>
              </div>
            </div>
          </div>
        
          </a>
        
    
        </div>
      </div>
    </Button>
      {% endfor %}
    </div>
    
    </div>
  </div>
 <script>
    function fun(x){
      
      var xhttp = new XMLHttpRequest();
        var v_id=document.getElementById(x).value;
        xhttp.onreadystatechange = function()
        {
            if(this.readyState== 4 && this.status == 200)
            {
                document.getElementById("demo_video").innerHTML=this.responseText;
            }
        };
        xhttp.open("GET","{% url 'video_class' %}?v_id="+v_id,true);
        xhttp.send();

      
    }
 </script>

  {% endblock %}